sudo apt-get install libcrypto++-dev
# Download Flint 2.5.2 from https://www.flintlib.org/flint-2.5.2.tar.gz
# remove '-Wl' in 62 line of Makefile.subdirs
./configure --prefix=/usr
make
make test
make install
